/* Encabezado Fijo NAV*/
.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #333;
    color: #fff;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.title-header {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.icon-weather {
    font-size: 24px;
    padding-left: .5em;
}

/* Botones */
.logout-button {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.logout-button:hover {
    background-color: #0056b3;
    color: #fff;
    transform: scale(1.05);
}

.logout-button:active {
    background-color: #003d7a;
    color: #fff;
    transform: scale(0.95);
}

/* Mensajes */
.message {
    margin-top: 10px;
    font-size: 14px;
}

.message a {
    color: #007bff;
    text-decoration: none;
}

.message a:hover {
    text-decoration: underline;
}

.error {
    color: red;
    font-weight: bold;
}

.success {
    color: green;
    font-weight: bold;
}

.card-no-relative {
    position: inherit!important;
}

/* First section */
.container {
    margin-top: 7em;
}